*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: rgb(66 63 63);
}
code {
  font-family: 'Fira Code', 'Courier New', monospace;
  background-color: rgba(0, 0, 0, 0.05); /* Adds a subtle tint to the existing bg */
	color: rgb(66 63 63);
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
body{
	min-height: 100vh;
	background-color: rgb(247 231 200);
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-size: 18px;
	line-height: 1.6;
	color: rgb(66 63 63);
}
nav ul{
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
nav li{
	height: 50px;
	padding: 8px 15px;
	text-decoration: none;
	display: flex;
}
nav a:hover{
	font-weight: bold;
}
nav li:first-child{
	margin-right: auto;
	font-weight: bold;
}
nav li:first-child a{
	color: black;
}
h2{
	font-size: 30px;
}
hr{
	margin-left: 10%;
	margin-right: 10%;
	height: 1px;
	border: none;
	background-color: black;
}
footer{
	display: flex;
	justify-content: center;
}
footer a{
	margin: 20px;
	color: rgb(89 89 89);
}
footer *:hover{
	font-weight: bold;
}

.hbar{
	margin-bottom: 50px;
}
.vertbar{
	position: fixed;
	height: 100vh;
	width: 100%;
	z-index: 999;
	background-color: rgb(247 231 200);
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.vertbar li:first-child{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.vertbar li a{
	color: rgb(66 63 63);
}
.vertbar li:first-child a{
	padding-right: 30px;
	color: black;
}

.menuButton{
	display: none;
}

.welcome{
	display: flex;
	justify-content: center;
	align-content: center;
}
.welcome *{
	margin: 7%;
	margin-top: 2%;
	margin-bottom: 2%;
}
.welcome img{
	align-self: flex-start;
	max-width: 100%;
	width: 400px;
	height: auto;
}
.welcome div{
	align-content: center;
}

.Education{
	display: flex;
	justify-content: space-around;
	align-content: center;
}
.Education h2{
	margin-left: 7%;
	margin-top: 2%;
	margin-bottom: 2%;
}
.Education div{
	margin-top: 2%;
	margin-bottom: 2%;
}
.Education div span{
	display: block;
	text-align: start;
}
.middle_item{
	padding-left: 30px;
	padding-right: 30px;
}
.last_item{
	margin-right: 7%;
}
.skills{
	margin: 7%;
}
.skills h3{
	margin-top: 2%;
	margin-bottom: 2%;
}
.skills ul li{
	list-style: inside;
}
.personal{
	margin: 7%;
}
.personal a{
	text-decoration: underline;
	color: rgb(130 76 167);
}

@media(max-width: 1024px)
{
	.welcome{
		flex-direction: column;
		margin: 4%;
	}
	.welcome *{
		margin: 0;
	}
	.welcome img{
		align-self: center;
		width: 700px;
	}
	.Education{
		flex-direction: column;
		justify-content: start;
		margin: 4%;
	}
	.Education h2{
		margin: 0;
		margin-top: 2%;
	}
	.Education div{
		margin-top: 2%;
		margin-bottom: 2%;
		padding: 0;
	}
	.personal{
		margin: 4%;
	}
}

@media(max-width: 800px)
{
	.hideOnMobile{
		display: none;
	}
	.menuButton{
		display: block;
	}
}
