*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: rgb(66 63 63);
}
code {
  font-family: 'Fira Code', 'Courier New', monospace;
  background-color: rgba(0, 0, 0, 0.05); /* Adds a subtle tint to the existing bg */
	color: rgb(66 63 63);
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
h1{
	text-align: center;
	font-family: 'Space Mono', serif;
	font-weight: 500; /* Bold */
}
h2, h3, h4 {
	text-align: center;
	font-family: 'Space Mono', serif;
	font-weight: 700; /* Bold */
}
p{
	color: rgb(66 63 63);
	text-align: center;
	margin: 20px 10%;
}
body{
	min-height: 100vh;
	background-color: rgb(247 231 200);
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-size: 18px;
	line-height: 1.6;
}
nav ul{
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
nav li{
	height: 50px;
	padding: 8px 15px;
	text-decoration: none;
	display: flex;
}
nav a:hover{
	font-weight: bold;
}
nav li:first-child{
	margin-right: auto;
	font-weight: bold;
}
nav li:first-child a{
	color: black;
}
hr{
	margin-left: 10%;
	margin-right: 10%;
	height: 1px;
	border: none;
	background-color: black;
}
footer{
	display: flex;
	justify-content: center;
}
footer a{
	margin: 20px;
	color: rgb(89 89 89);
}
footer *:hover{
	font-weight: bold;
}

.vertbar{
	position: fixed;
	height: 100vh;
	width: 100%;
	z-index: 999;
	background-color: rgb(247 231 200);
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.vertbar li:first-child{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.vertbar li a{
	color: rgb(66 63 63);
}
.vertbar li:first-child a{
	padding-right: 30px;
	color: black;
}

.menuButton{
	display: none;
}

.proj_button{
	display: flex;
	justify-content: center;
}
.button{
	display: grid;
	grid-auto-rows: minmax(150px, auto);
	grid-auto-columns: minmax(150px, auto);
	justify-items: center;
	align-items: center;
	aspect-ratio: 1/1;
}
.fx{
	grid-column-start: 1;
	grid-row-start: 1;
	max-width: 80%;
	max-height: 80%;
	transform: rotate(15deg);
	border-radius: 20px;
	width: 490px;
	height: 490px;
	background-color: rgb(255, 160, 59);
}
.msh{
	grid-column-start: 1;
	grid-row-start: 1;
	max-width: 80%;
	border-radius: 20px;
	width: 490px;
	height: auto;
	z-index: 2;
}

.proj_table{
	list-style: none;
	margin-left: 20px;
	margin-right: 20px;

	display: grid;
	grid-template-columns: 1fr 1fr;
}
.proj_table li{
	margin: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border: 5px solid rgb(210, 190, 150);
	border-radius: 5px;
}
.proj_table li h3{
	text-align: start;
}
.proj_table li ul li{
	border: none;
}
.proj_cell{
	color: rgb(66 63 63);
	list-style: inside;
}

.git_button{
	display: inline-flex;
	margin: 3px;
	align-items: center;
	align-self: end;
	border: none;
	background-color: rgb(60, 55, 50);
	color: rgb(247, 231, 200);
	font-size: 15px;
	padding: 12px;
	border-radius: 5px;
	cursor: pointer;
}
.git_button:hover{
	background-color: rgb(80, 75, 70);
}
.git_icon{
	color: rgb(247, 231, 200);
	fill: white;
}

.appeal{
	font-size: 20px;
	text-align: center;
	font-weight: 450;
}

.email{
	text-decoration: underline;
	color: rgb(130 76 167);
}

@media(max-width: 800px)
{
	.hideOnMobile{
		display: none;
	}
	.menuButton{
		display: block;
	}
	.proj_table{
		grid-template-columns: 1fr;
	}
}
