*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: rgb(66 63 63);
}
code {
  font-family: 'Fira Code', 'Courier New', monospace;
  background-color: rgba(0, 0, 0, 0.05); /* Adds a subtle tint to the existing bg */
	color: rgb(66 63 63);
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
body{
	min-height: 100vh;
	background-color: rgb(247 231 200);
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-size: 18px;
	line-height: 1.6;
}
nav ul{
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
nav li{
	height: 50px;
	padding: 8px 15px;
	text-decoration: none;
	display: flex;
}
nav a:hover{
	font-weight: bold;
}
nav li:first-child{
	margin-right: auto;
	font-weight: bold;
}
nav li:first-child a{
	color: black;
}
h1{
	text-align: center;
	font-size: 55px;
}
hr{
	margin-left: 10%;
	margin-right: 10%;
	height: 1px;
	border: none;
	background-color: black;
}
footer{
	display: flex;
	justify-content: center;
}
footer a{
	margin: 20px;
	color: rgb(89 89 89);
}
footer *:hover{
	font-weight: bold;
}
h2, p{
	margin-left: 20%;
	margin-right: 20%;
}
p{
	color: rgb(66 63 63);
}
li{
	color: rgb(66 63 63);
}

.subtitle{
	text-align: center;
	font-size: 20px;
	color: rgb(66 63 63);
}
.hbar{
	margin-bottom: 50px;
}
.vertbar{
	position: fixed;
	height: 100vh;
	width: 100%;
	z-index: 999;
	background-color: rgb(247 231 200);
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.vertbar li:first-child{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.vertbar li a{
	color: rgb(66 63 63);
}
.vertbar li:first-child a{
	padding-right: 30px;
	color: black;
}

.menuButton{
	display: none;
}

.proj_logo{
	display: flex;
	justify-content: center;
}
.proj_logo div{
	display: grid;
	grid-auto-rows: minmax(150px, auto);
	grid-auto-columns: minmax(150px, auto);
	justify-items: center;
	align-items: center;
	aspect-ratio: 1/1;
}
.fx{
	grid-column-start: 1;
	grid-row-start: 1;
	max-width: 80%;
	max-height: 80%;
	transform: rotate(15deg);
	border-radius: 20px;
	width: 600px;
	height: 600px;
	background-color: rgb(255, 160, 59);
}
.msh{
	grid-column-start: 1;
	grid-row-start: 1;
	max-width: 80%;
	border-radius: 20px;
	width: 600px;
	height: auto;
	z-index: 2;
}
.bullet_points{
	margin-left: 20%;
	margin-right: 20%;
	font-size: 17px;
}
.bullet_points p{
	margin: 0;
}
.bullet_points li{
	margin-left: 30px;
}
.h_1{
	display: flex;
	padding-bottom: 70px;
	padding-top: 70px;
	justify-content: center;
	background-color: #f7e7c8;
	background-image: radial-gradient(rgba(138, 138, 138, 0.2) 2px, transparent 0);
	background-size: 30px 30px;
	background-position: -5px -5px
}
.styled_header{
	font-family: 'Space Mono', sans-serif;
}
.h_2{
	display: flex;
	padding-bottom: 70px;
	padding-top: 70px;
	justify-content: center;
	background-color: #f7e7c8;
	--color: rgba(138, 138, 138, 0.2);
	background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
		linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
	background-size: 55px 55px;
}
.h_3{
	display: flex;
	padding-bottom: 70px;
	padding-top: 70px;
	justify-content: center;
	background-size: 30px 30px;
	background-position: -5px -5px;
	background: repeating-linear-gradient(
    45deg,
    rgba(138, 138, 138, 0.2),
    rgba(138, 138, 138, 0.2) 1px,
    #f7e7c8 1px,
    #f7e7c8 20px
  );
}
.link{
	text-decoration: underline;
	color: rgb(130 76 167);
}

.git_button{
	display: inline-flex;
	margin: 3px;
	align-items: center;
	align-self: end;
	border: none;
	background-color: rgb(60, 55, 50);
	color: rgb(247, 231, 200);
	font-size: 15px;
	padding: 12px;
	border-radius: 5px;
	cursor: pointer;
}
.git_button:hover{
	background-color: rgb(80, 75, 70);
}
.git_icon{
	color: rgb(247, 231, 200);
	fill: white;
}

@media(max-width: 800px)
{
	.hideOnMobile{
		display: none;
	}
	.menuButton{
		display: block;
	}
}

@media(max-width: 1024px)
{
	h2, p{
		margin-left: 5%;
		margin-right: 5%;
	}
	.bullet_points{
		margin-left: 5%;
		margin-right: 5%;
	}
}
